body
{
    background-color:gray;
    font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3
{
    margin:0px;
}


/*full webpage container*/
#container
{
    background-color:orange;
    width: 1280px;
    /* set the content center */
    margin-left: auto;
    margin-right: auto;
}


/* heading style*/
#header
{
    background-color: #66ccff;
    color: white;
    text-align: center;
    /* no way to vertically middle a text inside a div,
    the text line should be as big as the div container. */
    line-height: 120px;
    height:120px;
}


/* contains nav and main, better to use relative units for width/height
and constant units for padding/margin
*/
#content
{
    padding: 10px;
}


/* navigation style*/
#nav
{
    width: 170px;
    float: left;
    /* background-color: tomato; */
}

#nav ul
{
    /* list-style-type: none;
    padding: 0px; */

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

#nav li a 
{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#nav li a:hover
{
    background-color:orange;
    color:white;
}

/* #nav li:hover
{
    
} */

/* main content */
#main
{
    width: 1060px;
    float: right;
    text-align: justify;
    background-color: slategray;
    padding: 10px;
    margin-bottom: 10px;
}

/* footer */

#footer
{
    clear: both;
    background-color: #999999;
    text-align: right;
    padding: 10px;
    color: white;
}




.stest
{
    color: white;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
}

#stest
{
    color: white;
    text-align: justify;

    font-family: 'Mukta', sans-serif;
}

p
{
    color: black;
}


table
{
    width: 100%;
    margin: 0px 0px 5px 0px;
    border-collapse: collapse;
    text-align: left;
}

td
{
    padding: 10px 0px 10px 5px;
    border: 1px solid white;
}

tr:only-child
{
    background: linear-gradient(to right, rgb(255, 49, 160), rgba(255, 49, 160, 0));
}

#pb-link:link
{
    color:white;
}

#pb-link:visited
{
    color: lime;
}

#pb-link:hover
{
    color:maroon;
}


/* for every link that precedes and h2 element */
h2
{
    color:red;
}

a
{
    color:white;
}

.text-box
{
    margin-top: 10px;
}

/* for every td that precedes a tr in the same parent */
input ~ button 
{
    background-color: limegreen;
}

/* parent element to child specifically */
tr > td
{
    color: rgb(104, 16, 177);
}

/* parent element to all descendants under it */
tr td
{
    color: white;
}

#images-main img[src^="../images/"]
{
    width: 190px;
    height: 190px;
    vertical-align: middle;
    
}

#images-main
{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: center;
}

.images-main-bg
{
    background-color: darkslategrey;
}


/* 
selects any h2 element that has a class of images-main-font
however, since that element selectors has low specificity,
it gets overwritten by any specific class.

h2[class=images-main-font]
{
    color:white;
    padding: 5px;
} 

*/

.images-main-font-bgcolor
{
    background-color: darkviolet;
    height: 35px;
}

.images-main-font
{
    color:white;
    padding: 5px;
    line-height: 35px;
}

#bottom-paragraph
{
    padding: 10px;
    margin-top: 10px;
    /* background: linear-gradient(to bottom right, rgb(255, 49, 150), rgba(255, 49, 150, 0)); */
    background: radial-gradient(circle, rgb(255, 49, 160), rgba(255, 49, 160, 0.3));
}
#bottom-paragraph-font
{
    color: white;
    text-align: center;
    font-size: 12pt;
    text-transform: uppercase;
    font-weight: 700;
}

.natotoyko
{
    font-style: oblique;
}

/* kailh box white model */ 

#box-model
{
    margin-top: 10px;
    border: 2px dashed black;
    padding: 15px 90px 15px 90px;
    background-color:tan;
    width: 50wv;
}

#box-model p
{
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 1.50em;
    text-align: center;
    color: white;
}

.box-model-text
{
    padding: 5px 15px 5px 15px;
    border: 5px double white;
}

#box-model-with-image
{
    margin-top:10px;
    padding:10px;
    border: 5px double black;
    text-align: center;
}

#box-model-image
{
    padding: 20px 100px 20px 100px;
    margin-top: 10px;
    border: 5px dashed goldenrod;
    margin-left: auto;
    margin-right: auto;
    background-color: cyan;
    height: 25vw;
    width: 20vw;
}


#display-type
{
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border: 5px double orange;
    height: 40px;
}

#display-type ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    
}

#display-type li
{
    float:left;
}

#display-type a
{  
    display: block;
    padding: 10px 16px 10px 16px;
    color:white;
    background-color: black;
    text-decoration: none;
    font-family: Quicksand, sans-serif;
}


.textbox
{
    padding: 12px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
}

form
{
    margin-top: 16px;
    width:100%;
    padding: 10px;
    border: dashed 2px white;
    box-sizing: border-box;
    overflow: hidden;
}

form label
{
    color:rgb(224, 236, 45);
}

form p
{  
    color: white;
    margin-top: 0px;
    font-family: Mukta, sans-serif;
    size: 12px;
}

form h1
{
    margin-bottom: 5px;
    color: rgb(224, 236, 45);
    font-family: Mukta, sans-serif;
    margin-bottom: 0px;
}

 input[type=submit]
 {
     padding: 10px;
     margin-top: 10px;
     width: 110px;
     font-family: Quicksand, sans-serif;
     font-size: 16px;
     float: right;
 }

 select
 {
    padding: 12px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    font-family: Quicksand, sans-serif;
    font-size: 16px;
 }


#flex-box
{
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    border: dashed 2px white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.flex-items
{
    padding: 10px;
    margin: 5px;
    color: white;
    background-color: darkolivegreen;
    width: 50px;
    line-height: 120px;
    text-align: center;
}

/*

inline - does not move to a new line.
block - moves to a new line.
inline-block - combine.
none - remove from display.

*/

/* 

3:20:04 / 6:18:37 video timestamp

3:59:15 video timestamp

*/