body
{
    background-color:#EEEEEE;
    font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3
{
    margin:0px;
}


/*full webpage container*/
#container
{
    background-color:white;
    width: 1280px;
    /* set the content center */
    margin-left: auto;
    margin-right: auto;
}


/* heading style*/
#header
{
    background-color: #66ccff;
    color: white;
    text-align: center;
    padding: 10px;
}


/* contains nav and main */
#content
{
    padding: 10px;
}


/* navigation style*/
#nav
{
    width: 170px;
    float: left;
    /* background-color: tomato; */
}

#nav ul
{
    /* list-style-type: none;
    padding: 0px; */

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

#nav li a 
{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#nav li a:hover
{
    background-color:orange;
    color:white;
}

/* #nav li:hover
{
    
} */

/* main content */
#main
{
    width: 1060px;
    float: right;
    text-align: justify;
    background-color: gray;
    padding: 10px;
    margin-bottom: 10px;
}

/* footer */

#footer
{
    clear: both;
    background-color: #999999;
    text-align: right;
    padding: 10px;
    color: white;
}




.stest
{
    color: blue;
}

#stest
{
    color: orange;
}

p
{
    color: red;
}


table
{
    border: 1px solid black;
    width: 100%;
    margin: 0px 0px 5px 0px;
    border-collapse: collapse;
    text-align: left;
}

td
{
    padding: 10px 0px 10px 5px;
    border: 1px solid black;
}

tr:only-child
{
    background-color: orange;
}

#pb-link:link
{
    color:orange;
}

#pb-link:visited
{
    color: lime;
}

#pb-link:hover
{
    color:maroon;
}


/* for every link that precedes and h2 element */
h2 + a
{
    color:red;
}

/* for every td that precedes a tr in the same parent */
input ~ button 
{
    background-color: limegreen;
}

/* parent element to child specifically */
tr > td
{
    color: rgb(104, 16, 177);
}

/* parent element to all descendants under it */
tr td
{
    color: yellowgreen;
}